<div class="page-header header-filter background-image gradient" data-parallax="true">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-12 text-center mb-5">
        <div class="brand brand-title">
          <div class="logo">
            <%= image_tag 'https://res.cloudinary.com/coffeebreak-pro/image/upload/c_scale,w_150/v1600907495/Coffee_Break_Logo_White_-_NoTitle2_cuqgr2.png', class: "vcenter"%>
            <h1 class="title website-title vcenter">COFFEE BREAK</h1>
          </div>
          <h3 class="website-subtitle">Maintenance & Entretien de machines à café professionnelles </h3>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="main main-raised">
  <div class="container">
    <!-- Services Section -->
    <%= render 'services' %>
    <!-- Map Card -->
    <%= render 'map' %>
    <!-- About me -->
    <%= render 'about' %>
    <!-- Contact Form -->
    <%= render 'contact/form' %>
  </div>
</div>

<%= render 'footer' %>