<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Nouveau message venant du site CoffeeBreak.pro</h1>
    <p>Nom : <b><%= @name %></b>.</p>
    <p>Entreprise : <b><%= @company %></b>.</p>
    <p>Adresse mail : <b><%= @email %></b>.</p>
    <p>Numéro de téléphone : <b><%= @number %></b>.</p>
    <p>Message : <b><%= @message %></b>.</p>

    <hr>
    <p>Voir les derniers messages sur <a href="http://coffeebreak.pro/admin">http://coffeebreak.pro/admin</a>
  </body>
</html>