<div class="section">
  <h2 class="text-center subtitle" id="contact">Contactez moi</h2>
  <h5 class="text-center description">Vous trouverez ci-dessous mes coordonnées. Tarifs et autres informations disponible via ce formulaire :</h5>
  <div class="row mt-5 mx-4">
    <div class="col-md-4 text-center ml-auto mr-auto border shadow-sm mb-4 rounded card-info coffee-bag-bg">
      <h5 class="mt-4">Mes coordonnées</h5>
      <i class="fas fa-user-circle mt-4"></i>
      <p>Raphaël Guinhut</p>
      <i class="fas fa-mobile-alt mt-2"></i>
      <p>06 58 01 53 11</p>
      <i class="fas fa-at mt-2"></i>
      <p>raphael.coffeebreak@gmail.com</p>
    </div>
    <div class="col-md-8 ml-auto mr-auto">
      <div class="col-md-12 justify-content-center" id="flash-message">
        <%= render 'flash' %>
      </div>
        <%= form_for @contact, url: contact_index_path, class:"contact-form", remote: true do |f| %>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">  
                <%= f.label :nom, class: "bmd-label-floating" %></br>
                <%= f.text_field :name, required: true, class: "form-control success" %></br>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">  
              <%= f.label :entreprise, class: "bmd-label-floating"  %></br>
              <%= f.text_field :company, class: "form-control form-control-success" %></br>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">  
                <%= f.label :téléphone, class: "bmd-label-floating" %></br>
                <%= f.text_field :number, class: "form-control success" %></br>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">  
              <%= f.label :adresse_email, class: "bmd-label-floating"  %></br>
              <%= f.text_field :email, required: true, class: "form-control form-control-success" %></br>
              </div>
            </div>
          </div>
            <div class="form-group">
                <%= f.label :votre_message, class: "bmd-label-floating" %></br>
                <%= f.text_area :message, rows: 2, cols: 30, required: true, class: "form-control"%></br>
            </div>
    </div>
          <div class="row col-md-12 text-center">
            <div class="col-md-6 ml-auto mr-auto text-center">
              <%= f.submit 'Envoyer un message', class: 'btn btn-lg btn-block btn-success btn-brown', style: 'text-align: center; white-space:normal' %>
            </div>
          </div>
        <% end %>
  </div>
</div>
